<div data-controller="geolocation">
  <h1>Welcome</h1>
</div>

<turbo-frame id='current-weather'>
  Current weather will appear here, if you have just allowed location permissions
  <button data-action="geolocation#getLocation">Refresh</button>
</turbo-frame>
